.card-list-page {
  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
}

.card-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
  margin: 0 auto;

  &__item {
    margin-bottom: 15px;
    margin-right: 12px;
  }

  &__add-item {
    min-width: 200px;
    border: 1px dotted grey;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 200px;
  }

  &__add-img {
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
